<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>197596178457-7ll2fq94bl0c677n35ade3bj8rv4ell5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.197596178457-7ll2fq94bl0c677n35ade3bj8rv4ell5</string>
	<key>API_KEY</key>
	<string>AIzaSyDEHwDUjMLJN9jbrBiDzwbk8yUkXgnq33w</string>
	<key>GCM_SENDER_ID</key>
	<string>197596178457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nourayn.almosally</string>
	<key>PROJECT_ID</key>
	<string>almosaly-v2-2004</string>
	<key>STORAGE_BUCKET</key>
	<string>madar-ads.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:197596178457:ios:514e2cb6328eff51</string>
	<key>DATABASE_URL</key>
	<string>https://madar-ads.firebaseio.com</string>
</dict>
</plist>
